PORT=5000
NODE_ENV=production
MONGODB_URI=mongodb://localhost:27017/superstore
JWT_SECRET=basil_is_generation_very_long_secret_key_for_jwt
JWT_EXPIRES_IN=7d
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
FRONTEND_URL=https://yourdomain.com
